/* Adding Google Font Poppins */
body{
    font-family: 'Licorice', cursive;
    font-family: 'Poppins', sans-serif;
}

/* styling individual phone image */
.phone-image :hover{
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
  }

  /* styling details button */
  .details-button :hover{
    background-color:#212529;
    transition: background-color .3s ease-in-out;
  }

  /* styling close-details button */
  #close-button :hover{
    color: red;
    transform: scale(1.6);
    transition: transform .1s ease-in-out;
  }